.plate-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d0e0d0; /* Blue background */
    color: black; /* White text */
    padding: 2px 8px;
    border: 1px solid #282c34; /* White border */
    border-radius: 2px;
    font-size: 12px;
    white-space: nowrap; /* Prevent text from wrapping */
    font-family: Arial, sans-serif; /* Adjust font */
}